    <a href="./index.html" class="nav-item hide-on-home" data-page="home">home</a>
    <a href="./pages/quem-sou.html" class="nav-item" data-page="quem-sou">quem sou</a>
    <a href="./pages/trajetoria.html" class="nav-item" data-page="trajetoria">curriculum</a>
    <a href="./pages/projetos.html" class="nav-item" data-page="projetos">projetos de desenvolvimento</a>
    <a href="./pages/cotidiano.html" class="nav-item" data-page="cotidiano">cotidiano</a>
    <a href="./pages/galeria.html" class="nav-item" data-page="galeria">galeria</a>
